@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700');
* { margin:0; padding:0; box-sizing:border-box; }
body {
    background-color: #FAFAFA;
    color:#333;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    text-align: left;
}
#slogan {
	font-style: italic;
}
#logo {
  margin: 1em 0 2.5em 0;
}
p {
	margin: 1em 0 2.5em 0;
	font-family: 'Roboto';
}
h1 {
	font-weight: 700;
	font-size: 52px;
}
h2 {
	font-size:28px;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
}
#aboutme {
	 text-align: center;
    padding: .25em;
    margin: 1em 0 2em 0;
    padding: 1em;
    clear:both;
}
#intro {
	background:url(../images/improvgroup.jpeg);
	background-size:cover;
	color:#fff;
	padding:10em 0 0;
	height:90vh;
}
header {
    padding: .25em;
    margin: 1em 0 2.5em 0;
}
img {
    float: left;
    border-radius: 100%;
    width: 20%;
    margin: 1em 40px 2.5em 0;
}
#me {
    margin: 1em 0 2.5em 0;
}
#whyimprov {
    padding: 10px;
    margin: 1em 0 1em 0;
}
#improvrules {
    padding: .25em;
    margin: 1em 0 2em 0;
    color: #fff;
    background-color: #FF5722 ;
    clear: both;
}
footer {
    padding: 10px;
    text-align: center;
    margin: 1em 0 1em 0;
}
nav {
  font-size: 1em;
  float: right;
}
nav a {
  text-decoration: none;
  color: #2B2B2B;
  margin: 0;
  padding: 1.5em;
}
a:hover {
  color: #FF5722;
  padding: 1.5em;
}
#rules {
  text-align: center;
}
.column {
  width: 25%;
  padding: 2%;
  margin: 2%;
  float: left;
  color: #fff;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
footer {
    padding: .25em;
    text-align: center;
    margin: 1em 0 2.5em 0;
    clear: both;
}
#research {
  background-color: #eee;
  margin: 1em 0 2.5em 0;
  padding: 2em;
  font-style: italic;
}

