@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700');
body {
    background-color: #FAFAFA;
    color:#333;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    text-align: left;
}
#slogan{
	font-style: italic;
}
p {
	margin: 1em 0 2.5em 0;
	font-family: 'Roboto';
}
h1 {
	font-weight: 700;
	font-size: 52px;
}
h2 {
	font-size:28px;
}
h3 {font-size: 20px
}
#aboutme {
	text-align: center;
    padding: 10px;
    margin: 1em 0 2.5em 0;
    padding: 20px;
}
#intro {
	background:url(../images/improvgroup.jpeg);
	background-size:cover;
	color:#fff;
	padding:10em 0 0;
	height:90vh;
}
header {
    padding: 10px;
    margin: 1em 0 2.5em 0;
}
img {
    float: left;
}
#me {
    float: right;
    clear: both;
}
#whyimprov {
    padding: 10px;
    margin: 1em 0 2.5em 0;
}
#improvrules {
    padding: 3em;
    margin: 1em 0 2.5em 0;
    color: #fff;
    background-color: #FF5722 ;
}
footer {
    padding: 10px;
    text-align: center;
    margin: 1em 0 2.5em 0;
}
nav {
  font-size: 1em;
  float: right;
}
nav a {
  text-decoration: none;
  color: #2B2B2B;
  margin: 1.5em;
}
a:hover {
  color: #FF5722;
}
#rules {
  text-align: center;
}
.column {
  width: 30%;
  padding: 20px;
  margin: 2%;
  float: left;
  color: #fff;

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
    overflow: auto;
}
footer {
    padding: 10px;
    text-align: center;
    margin: 1em 0 2.5em 0;
}

