body {
    background-color: #E8E4E4;
    text-align: left;

}

h1, h3 {
    color: black;
    font-family: verdana, sans-serif;
}

h1, h3, {
	font-weight: bold;
}

#aboutme {
	text-align: center;
}

#improvrules {
	text-align: left;
}


