@import url('https://fonts.googleapis.com/css?family=Palanquin:700');

body {
    background-color: #E0EDF2;
    text-align: left;

}

h1, h3 {
    color: black;
    font-family: 'Palanquin', sans-serif;
}

#slogan{
	font-style: italic;
}

p {
	font-family: 'Palanquin', sans-serif;
	line-height: 1.5em;
  margin: 2em;

}

h1 {
	font-weight: bold;
	font-size: 52px;
}

h3 {
	font-size:28px;
}

#aboutme {
	text-align: center;
}

#improvrules {
	text-align: left;
}
