@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

body {
    background-color: #E0EDF2;
    text-align: left;

}

h1, h3 {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

#slogan{
	font-style: italic;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 1.5em;
  margin: 2em;

}

h1, h3, {
	font-weight: bold;
}

#aboutme {
	text-align: center;
}

#improvrules {
	text-align: left;
}
