@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Montserrat:400,500,600,700,800');
* { margin:0; padding:0; box-sizing:border-box; 
}
body {
    background-color: #FAFAFA;
    color:#333;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight:400;
    line-height:1.5;
    text-align: left;
}
#logo {
  margin: 1em 0 2.5em 0;
}
p {
	margin: 1em 0 2.5em 0;
	font-family: 'Antic Slab', serif;
  z-index: 9;
  position: relative;
}
h1 {
	font-weight: 700;
	font-size: 52px;
  z-index: 9;
  position: relative;
}
h2 {
	font-size:28px;
}
h3 {
  font-size: 28px;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
}
#aboutme {
	text-align: center;
  clear: both;
  background-color: #009FB7;
  color: #fff;
}
#aboutme .wrapper,
#research .wrapper {
  max-width: 60em;
}
#intro {
	color:#666;
	height:90vh;
  text-align: center;
  padding: 30vh 0;
  font-size: 100px;
  position: relative;

}
#intro p{
  font-size: 20px;
}
header {
  padding: 1em 1em .25em 1em;
  color: #fff;
  background-color: #009FB7;
}
.img1 {
    float: right;
    border-radius: 100%;
    width: 20%;
    margin: 1em 40px 2.5em 1em;
}
#me {
    margin: 1em 0 2.5em 0;
    text-align: left;
}
#whyimprov {
    margin: auto;
    width: 100%;
    max-width: 1000px;
}
section#improvrules {
    margin: 0;
    color: #666;
    background-color: #fff ;
    clear: both;
    text-align: center;
  }
nav {
  font-size: 1em;
  float: right;
  margin: 1em;
}
nav a {
  text-decoration: none;
  color: #2B2B2B;
  margin: 0;
  padding: 1.5em;
  color: #fff;
}
nav a:hover {
  color: #E3513E;
}
.logo {
  margin: 0;
  float: left;
}
#rules {
  text-align: center;
}
.column {
  width: 28%;
  padding: 2em;
  margin: 2%;
  vertical-align: top;
  display: inline-block;
  text-align: left;
}
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
footer {
    text-align: center;
    clear: both;
    background-color: #666;
    color: #fff;
    margin: auto;
    max-width: 100%;
    width: 100%;
    padding: 2em;
}
#research {
  text-align: left;
  margin: auto;
  max-width: 100%;
  width: 100%;
  background: #E3513E;
  color: #fff;
}
.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1000px;
}
.chart {
  width: 100%;
  display: inline-block;
  padding: 0 10% 0 0;
}
#sup {
  margin: 1em 0 2.5em 0;
}
.box{
  float: right;
  border: 4px solid #009FB7;
  border-radius: 2%;
  color: #E3513E;
  padding: 1em;
  margin: 0;
  text-align: center;
  font-size: 33px;
  font-weight: 700;
}
.grey{
  color: #666;
}
.red{
  color: #E3513E;
}
.blue{
  color: #009FB7;
}
section{
  padding: 3em 0;
}
#bg{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .4;
  background:url(../images/improvgame.jpg);
  background-size:cover;
  z-index: 1;
  top: 0;
}
.img2{
  height: 5%;
  width: 5%; 
}
.c1{
  width: 30%;
  display: inline-block;
}
.c2{
  width: 60%;
  display: inline-block;
}
#research .c2{
  margin: 0 0 0 5%;
}
.circle h5,
.circle h6{
  font-size: 18px;
  margin: 10px 0 0 0;
  line-height: 1.3em;
  text-align: right;
  font-weight: 400;
  font-family: 'Antic Slab', serif;
}
.circle h6{
  font-style: italic;
  margin: 0;
  font-size: 14px;
}
.circle p{
  margin: 0;
  background: #F4F4F4;
  border-radius: 3px;
  padding: 2em;
  border: 2px solid #E3513E;
}
.circle{
  padding: 0;
}
section#testimonial{
  text-align: center;
}
.img3{
  width: 150px;
}
#footer .img3{
  float: left;
}
@media only screen and (max-width: 1180px) {
  .box {
    padding: 2em;
    margin: 2em auto;
    float: none;
  }
  #whyimprov {
    float: none;
    width: 100%;
    padding: 2em;
    margin: 2em auto;
  }
  #research {
    float: none;
    width: 100%;
    padding: 2em;
  }
  .chart {
    float: none;
    width: 20em;
    padding: 2em;
    margin: 2em auto;
  }
  #aboutme {
    float: none;
    width: 100%;
    padding: 2em;
  }
  .img1 {
    float: none;
    width: 17em;
    padding: 1em;
    margin: 1em;
  }
  nav a {
    display: block;
    margin: 0;
    padding: .25em;
    float: none;
    border-top: 1px solid;
    border-color: #6E9FB7;
  }
  .img3 {
    width: 20em;
    margin: 1em;
  }
  #bg {
    width: 100%;
  }
  .c1 {
    width:100%;
  }
  .c2 {
    width:100%;
  }
  header {
    text-align: center;
    padding: 2em
    margin: 2em auto;
    float: none;
    display: block;
  }
  nav {
    display: block;
    margin: 0;
    padding: .25em;
    float: none;
  }
  .img2 {
    width: 5em;
  }
}
@media only screen and (max-width: 850px) {
  #improvrules {
    float: none;
    width: 100%;
    padding: 2em;
  }
  #testimonial {
    float: none;
    width: 100%;
    padding: 2em;
  }
  .column {
    float: none;
    width: 100%;
    padding: 1em;
  }
}


